#myCarousel {
	background-color: #FFFFFF;
}

.carousel-indicators {
	bottom: -30px;
}

.carousel-control > span {
	color: #000000;
}

.carousel-control.right , .carousel-control.left{
	background-color: transparent;
	background-image: none;
}