HTML, BODY {
	height: 100%;
	min-width: 360px; 
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background: -webkit-linear-gradient(#A8DBFC 5%, #FFFFFF 100%); /* SAFARI 5.1 to 6.0  */
	background:    -moz-linear-gradient(#A8DBFC 5%, #FFFFFF 100%); /* FIREFOX 3.6 to 15  */
	background:      -o-linear-gradient(#A8DBFC 5%, #FFFFFF 100%); /* OPERA 11.1 to 12.0 */
	background:         linear-gradient(#A8DBFC 5%, #FFFFFF 100%); /* STANDARD SYNTAX    */
}

BODY.adjustHeight {
	height: initial;
}

ADDRESS {
	font-size: 1.5em;
}

.container {
	background-color: #FFFFFF;
	-webkit-box-shadow: 8px 0px 25px -5px #555555, -8px 0px 25px -5px #555555;
	   -moz-box-shadow: 8px 0px 25px -5px #555555, -8px 0px 25px -5px #555555;
			box-shadow: 8px 0px 25px -5px #555555, -8px 0px 25px -5px #555555;
}

.container > .row {
	border-left: solid 1px #000000;
	border-right: solid 1px #000000;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.img-center {
	margin: 0 auto;
}

.img-responsive.img-center {
	margin: 0 auto;
}

.col-vertical-align-18 {
	position: relative;
	transform: translateY(18%);
}

.col-vertical-align-30 {
	position: relative;
	transform: translateY(30%);
}

.col-vertical-align-55 {
	position: relative;
	transform: translateY(55%);
}

.spacedBottomBorder {
	padding-bottom: 30px;
	border-bottom: solid 1px #000000;
}

#header {
	background-color: #FFFFFF;
	border-bottom: solid 1px #000000;
}

#header #mainLogo {
	width: 450px;
	height: 250px;
	margin-left: 20px;
}

#console > DIV {
	padding: 10px;
}

#footer {
	font-size: 1.2em;
	padding-top: 5px;
	padding-bottom: 10px;
	border-top: solid 1px #000000;
	border-bottom: solid 1px #000000;
}

#map-canvas {
	width: 100%;
	height: 780px;
	margin: auto;
}

#contentPanel > DIV > P {
	font-weight: bold;
	padding-top: 10px;
	text-align: center;
	font-style: italic;
	padding-left: 30px;
	padding-right: 30px;
}

#contentPanel > DIV > P > UL {
	font-weight: bold;
	font-style: italic;
	padding-left: 20px;
	padding-right: 20px;
}

#contentPanel {
	font-size: 1.6em;
    padding-top: 40px;
    padding-bottom: 40px;
		border-top: solid 1px #000000;
}

#hours {
	width: 90%;
	margin: auto;
	vertical-align: middle;
}

#hours TD, #hours TH {
	padding: 5px;
	text-align: center;
}

#menuButton {
	width: 100%;
	margin: auto;
	text-align: center;
	background-color: #A8DBFC;
}

#menuButton > TABLE {
	width: 100%;
}

#bannerImage {
	width: 100%;
	margin-top: 10px;
}

.socialMediaRow {
	text-align: right;
}

.row-eq-height {
  display: -webkit-flex;
  display: 	-webkit-box;
  display: 	-ms-flexbox;
  display:         flex;
}

.socialMediaRow > A > SPAN {
	padding-left: 20px;
	padding-right: 20px;
}

#content {
	padding-top: 30px;
}

#content P {
	width: 70%;
	margin: auto;
	font-size: 1.5em;
	font-weight: bold;
	font-style: italic;
}

#homeBanner {
	padding-top: 30px;
	padding-bottom: 30px;
}